<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form action="" method="post">
                    <div class="form_details">
                        <div class="alert-danger">{{ form.non_field_errors }}</div>
                        <br>
                        {% csrf_token %}

                        {{ form.name.label_tag }}
                        <div class="clearfix"> </div>
                        {{ form.name }}
                        <div class="clearfix"> </div>
                        <div class="text-danger">{{ form.name.errors }}</div>

                        {{ form.users_allowed.label_tag }}
                        <div class="clearfix"> </div>
                        {{ form.users_allowed }}
                        <div class="clearfix"> </div>
                        <div class="text-danger">{{ form.users_allowed.errors }}</div>

                        <button class="btn" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>