.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.form_details input[type="password"] {
	padding: 10px;
	width: 65%;
	font-size: 1em;
	margin: 10px 0px;
	border: 1px solid #ccc;
	color: #8A8888;
	background: none;
	-webkit-appearance: none;
	float: left;
	outline: none;
	font-weight: 500;
}
.form_details input[type="password"]:hover {
    border: 1px solid #777;
}
/*.form_details input[type="password"] {*/
	/*padding: 10px;*/
	/*width: 90%;*/
/*}*/
/*.form_details input[type="password"] {*/
	/*padding: 8px;*/
	/*font-size: 0.8em;*/
/*}*/