{% extends 'base.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
    <div class="contact">
        <div class="container vertical-center">
            <div class="col-xs-4 col-xs-offset-4">
                <h3>Вход</h3>
                <form action="" method="post">
                    <div class="form_details">
                        <div class="alert-danger">{{ form.non_field_errors }}</div>
                        <br>
                        {% csrf_token %}

                        {{ form.user.label_tag }}
                        <div class="clearfix"> </div>
                        {{ form.user }}
                        <div class="clearfix"> </div>
                        <div class="text-danger"><small>{{ form.user.errors }}</small></div>

                        {{ form.password.label_tag }}
                        <div class="clearfix"> </div>
                        {{ form.password }}
                        <div class="clearfix"> </div>
                        <div class="text-danger"><small>{{ form.password.errors }}</small></div>
                        <button class="btn" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}