{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HiDoc | {% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="{% static "template/css/bootstrap.css" %}" rel='stylesheet' type='text/css'/>
        <!-- Font Awesome  -->
        <link href="{% static 'template/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- Web Font  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
        <link href="{% static 'template/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'custom/css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>

        {% block css %}
        {% endblock %}

        <script src="{% static 'template/js/jquery.min.js' %}"></script>
    </head>
    <body>
        {% block page %}

            {% block content %}
            {% endblock %}

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{% static 'template/js/bootstrap.min.js' %}"></script>

        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>