{% extends 'base.html' %}

{% block page %}
    {% include 'ui/navbar.html' %}

    <div id="section_header">
        <div class="container">
            <h2>{% block header %}{% endblock %}</h2>
        </div>
    </div>

    {% block content %}
{#        <!-- Slider -->#}
{#        <div class="header-banner">#}
{#            <script src="{% static 'template/js/responsiveslides.min.js' %}"></script>#}
{#            <script>#}
{#                $(function () {#}
{#                    $("#slider").responsiveSlides({#}
{#                        auto: true,#}
{#                        nav: true,#}
{#                        speed: 500,#}
{#                        namespace: "callbacks",#}
{#                        pager: true#}
{#                    });#}
{#                });#}
{#            </script>#}
{#            <div class="container">#}
{#                <div class="slider">#}
{#                    <div class="callbacks_container">#}
{#                        <ul class="rslides" id="slider">#}
{#                            <li> <img src="{% static 'template/images/bnr1.jpg' %}" alt="">#}
{#                                <div class="caption">#}
{#                                    <h1>Professional Solutions<span>.</span></h1>#}
{#                                    <p>Lorem ipsum dolor sit amet, mea id noster everti. In eos prima necessitatibus, ad duo iudico facilis voluptatum.</p>#}
{#                                    <a href="services.html" class="btn">More Info</a> </div>#}
{#                            </li>#}
{#                            <li> <img src="{% static 'template/images/bnr2.jpg' %}" alt="">#}
{#                                <div class="caption">#}
{#                                    <h1>Customized Solutions<span>.</span></h1>#}
{#                                    <p>Lorem ipsum dolor sit amet, mea id noster everti. In eos prima necessitatibus, ad duo iudico facilis voluptatum.</p>#}
{#                                    <a href="services.html" class="btn">More Info</a> </div>#}
{#                            </li>#}
{#                            <li> <img src="{% static 'template/images/bnr3.jpg' %}" alt="">#}
{#                                <div class="caption">#}
{#                                    <h1>Creative Solutions<span>.</span></h1>#}
{#                                    <p>Lorem ipsum dolor sit amet, mea id noster everti. In eos prima necessitatibus, ad duo iudico facilis voluptatum.</p>#}
{#                                    <a href="services.html" class="btn">More Info</a> </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- Welcome Section -->#}
{#        <div id="section_header">#}
{#            <h2><span>Welcome</span> to our website!</h2>#}
{#        </div>#}
{#        <div id="welcome">#}
{#            <div class="container">#}
{#                <div class="col-md-6"> <img class="img-responsive" src="images/about1.jpg" align=""> </div>#}
{#                <div class="col-md-6">#}
{#                    <h3>About us</h3>#}
{#                    <p>Lorem ipsum dolor sit amet, quo meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. Eu eos dicam voluptaria, erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei vel. Te sit malorum ceteros repudiandae, ne tritani adipisci vis.</p>#}
{#                    <p>Lorem ipsum dolor sit amet, quo meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. Eu eos dicam voluptaria, erant bonorum albucius et per, ei sapientem accommodare est.</p>#}
{#                    <a href="about.html" class="btn">More</a> </div>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#        <!-- What we do Section -->#}
{#        <div id="section_header">#}
{#            <h2><span>What</span> we do</h2>#}
{#        </div>#}
{#        <div id="main-services">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-4 centered"> <i class="fa fa-gears fa-3x"></i>#}
{#                        <h3>Aenean nonummy</h3>#}
{#                        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>#}
{#                        <a href="services.html" class="btn">More</a>#}
{#                    </div>#}
{#                    <div class="col-lg-4 centered"> <i class="fa fa-briefcase fa-3x"></i>#}
{#                        <h3>Praesent vestibulum</h3>#}
{#                        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>#}
{#                        <a href="services.html" class="btn">More</a>#}
{#                    </div>#}
{#                    <div class="col-lg-4 centered"> <i class="fa fa-line-chart fa-3x"></i>#}
{#                        <h3>Erat imperdiet</h3>#}
{#                        <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>#}
{#                        <a href="services.html" class="btn">More</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- Our clients Section -->#}
{#        <div id="section_header">#}
{#            <h2><span>Our</span> clients</h2>#}
{#        </div>#}
{#        <div id="clients">#}
{#            <div class="container">#}
{#                <div class="row centered">#}
{#                    <div class="col-lg-8 col-lg-offset-2">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client1.jpg' %}" class="img-responsive"> </div>#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client2.jpg' %}" class="img-responsive"> </div>#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client3.jpg' %}" class="img-responsive"> </div>#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client4.jpg' %}" class="img-responsive"> </div>#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client5.jpg' %}" class="img-responsive"> </div>#}
{#                    <div class="col-lg-2"> <img src="{% static 'template/images/client6.jpg' %}" class="img-responsive"> </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% endblock %}

    <!-- Footer -->
    {% include 'ui/footer.html' %}
{% endblock %}