<br>
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8"> <span class="copyright">Copyright &copy; 2015 HiDoc. </span> </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>