    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><i class="fa fa-sun-o"></i> HiDoc</a> </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li{% ifequal section 'docs' %} class="active"{% endifequal %}><a href="/">Документы</a></li>
                    <li><a href="#">Страница 2</a></li>
                    <li><a href="#">Страница 3</a></li>
                    <li><a href="#">Страница 4</a></li>
                </ul>
            </div>
            <div>{{ user }} (<a href="{% url 'logout' %}">выход</a> )</div>
        </div>
    </nav>