{% extends 'page.html' %}
{% load docs_tags %}

{% block title %}Документы{% endblock %}

{% block header %}
    <span>Документы</span> | <a class="btn btn-default btn-sm" href="{% url 'new_doc' %}" role="button">добавить</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {% for doc in docs %}
                <div class="col-md-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ doc.name }}
                            {% if doc.users_allowed|in_users_allowed:user and doc.api_url %}
                                <div class="btn-group pull-right">
                                    <a href="{% url 'edit_doc' doc.pk %}"
                                            class="btn btn-default btn-xs" role="button">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="{{ doc.api_url }}"
                                       class="btn btn-default btn-xs" role="button" target="_blank">
                                        открыть
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}